{% load static %}
<!DOCTYPE html>

<html>
    <head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
        <title>Zaccc's blog</title>
    </head>
	<body>
		<div class="page-header">
			{% if user.is_authenticated %}
				<a class="btn btn-secondary top-menu" href="{% url 'post_new' pk=post.pk %}">
				{% include './icons/x.svg' %}
				</a>
				<p class="top-menu">Bonjour {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
			{% else %}
				<a class="btn btn-secondary top-menu" href="{% url 'login' pk=post.pk %}">
				{% include './icons/x.svg' %}
				</a>
			{% endif %}
			<h1><a href="/">Zaccc's Blog</a></h1>
		</div>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>